<nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
       <a class="navbar-brand"></a>
       <div class="collapse navbar-collapse" id="navbarNav">
              <a class="nav-lista">Lista de Produtos</a>
       </div>
</nav>
<br>
<p-card header="">

       <app-filtro-produtos>

       </app-filtro-produtos>
       <p-divider />

       <div class="button-listar-produtos">

              <p-button label="Limpar" severity="danger" />

              <p-button label="Consultar" severity="success" />
       </div>

       <app-tabela-produtos>

       </app-tabela-produtos>

</p-card>