<div class="form-container">
  <div>
    <h2>Criar uma conta</h2>
  </div>

  <div class="flex flex-wrap gap-3">
    <div class="flex align-items-center">
      <p-radioButton name="accountType" value="fisica" [(ngModel)]="tipoPessoa" inputId="fisica" (onClick)="selecionarTipo('fisica')" />
      <label for="fisica" class="ml-2"> Pessoa física</label>
    </div>

    <div class="flex align-items-center">
      <p-radioButton name="accountType" value="juridica" [(ngModel)]="tipoPessoa" inputId="juridica" (onClick)="selecionarTipo('juridica')" />
      <label for="juridica" class="ml-2"> Pessoa jurídica</label>
    </div>
  </div>

  <form>
    <div [ngSwitch]="tipoPessoa">
      <div class="card-cadastrar">
        <div *ngSwitchCase="'fisica'">
          <div>
            <p-floatLabel>
              <input pInputText class="width-100" type="email" id="email" [(ngModel)]="email" name="email" required>
              <label for="email"> E-mail </label>
            </p-floatLabel>
          </div>

          <div class="nome-sobrenome">
            <p-floatLabel>
              <input id="nome" type="text" pInputText [(ngModel)]="nome" name="nome" />
              <label for="nome">Nome</label>
            </p-floatLabel>

            <p-floatLabel>
              <input id="sobrenome" type="text" pInputText [(ngModel)]="sobrenome" name="sobrenome" />
              <label for="sobrenome">Sobrenome</label>
            </p-floatLabel>
          </div>

          <div class="cpf-telefone">
            <p-floatLabel>
              <p-inputMask mask="(99) 99999-9999" [(ngModel)]="telefone" name="telefone" id="telefone" />
              <label for="telefone">Telefone</label>
            </p-floatLabel>

            <p-floatLabel>
              <p-inputMask mask="999.999.999-99" [(ngModel)]="cpf" name="cpf" id="cpf_input" />
              <label for="cpf_input">CPF</label>
            </p-floatLabel>
          </div>

          <div class="senha-confirmar">
            <p-floatLabel>
              <p-password [(ngModel)]="senha" name="senha" [toggleMask]="false" promptLabel="Escolha uma senha" weakLabel="Muito simples" mediumLabel="Complexidade média" strongLabel="Senha complexa">
                <ng-template pTemplate="header">
                  <h6>Escolha uma senha</h6>
                </ng-template>
                <ng-template pTemplate="footer">
                  <p class="mt-2">Sugestão</p>
                  <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                    <li>Pelo menos uma letra minúscula</li>
                    <li>Pelo menos uma letra maiúscula</li>
                    <li>Pelo menos um numero</li>
                    <li>Mínimo 8 caracteres</li>
                  </ul>
                </ng-template>
              </p-password>
              <label for="senha">Senha</label>
            </p-floatLabel>

            <p-floatLabel>
              <p-password [(ngModel)]="confirmarSenha" name="confirmarSenha" [toggleMask]="false" promptLabel="Escolha uma senha" weakLabel="Muito simples" mediumLabel="Complexidade média" strongLabel="Senha complexa">
                <ng-template pTemplate="header">
                  <h6>Escolha uma senha</h6>
                </ng-template>
                <ng-template pTemplate="footer">
                  <p class="mt-2">Sugestão</p>
                  <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                    <li>Pelo menos uma letra minúscula</li>
                    <li>Pelo menos uma letra maiúscula</li>
                    <li>Pelo menos um numero</li>
                    <li>Mínimo 8 caracteres</li>
                  </ul>
                </ng-template>
              </p-password>
              <label for="confirmarSenha">Confirmar Senha</label>
            </p-floatLabel>
          </div>
        </div>

          <!-- Div pessoa juridica start  -->

        <div *ngSwitchCase="'juridica'">
          <div>
            <p-floatLabel>
              <input pInputText class="width-100" type="email" id="email" [(ngModel)]="email" name="email" required>
              <label for="email"> E-mail </label>
            </p-floatLabel>
          </div>

          <div class="nome-sobrenome">
            <p-floatLabel>
              <input id="nome" type="text" pInputText [(ngModel)]="nome" name="nome" />
              <label for="nome">Razão social</label>
            </p-floatLabel>

            <p-floatLabel>
              <input id="sobrenome" type="text" pInputText [(ngModel)]="sobrenome" name="sobrenome" />
              <label for="sobrenome">Nome da Empresa</label>
            </p-floatLabel>
          </div>

          <div class="cpf-telefone">
            <p-floatLabel>
              <p-inputMask mask="(99) 99999-9999" [(ngModel)]="telefone" name="telefone" id="telefone" />
              <label for="telefone">Telefone</label>
            </p-floatLabel>

            <p-floatLabel>
              <p-inputMask mask="999.999.999-99" [(ngModel)]="cpf" name="cpf" id="cpf_input" />
              <label for="cpf_input">CNPJ</label>
            </p-floatLabel>
          </div>

          <div class="senha-confirmar">
            <p-floatLabel>
              <p-password [(ngModel)]="senha" name="senha" [toggleMask]="false" promptLabel="Escolha uma senha" weakLabel="Muito simples" mediumLabel="Complexidade média" strongLabel="Senha complexa">
                <ng-template pTemplate="header">
                  <h6>Escolha uma senha</h6>
                </ng-template>
                <ng-template pTemplate="footer">
                  <p class="mt-2">Sugestão</p>
                  <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                    <li>Pelo menos uma letra minúscula</li>
                    <li>Pelo menos uma letra maiúscula</li>
                    <li>Pelo menos um numero</li>
                    <li>Mínimo 8 caracteres</li>
                  </ul>
                </ng-template>
              </p-password>
              <label for="senha">Senha</label>
            </p-floatLabel>

            <p-floatLabel>
              <p-password [(ngModel)]="confirmarSenha" name="confirmarSenha" [toggleMask]="false" promptLabel="Escolha uma senha" weakLabel="Muito simples" mediumLabel="Complexidade média" strongLabel="Senha complexa">
                <ng-template pTemplate="header">
                  <h6>Escolha uma senha</h6>
                </ng-template>
                <ng-template pTemplate="footer">
                  <p class="mt-2">Sugestão</p>
                  <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                    <li>Pelo menos uma letra minúscula</li>
                    <li>Pelo menos uma letra maiúscula</li>
                    <li>Pelo menos um numero</li>
                    <li>Mínimo 8 caracteres</li>
                  </ul>
                </ng-template>
              </p-password>
              <label for="confirmarSenha">Confirmar Senha</label>
            </p-floatLabel>
          </div>
        </div>

        <p-checkbox [(ngModel)]="notificacao" label="Inscreva-se para receber novidades e promoções da AKY PEÇA" name="notificacao" value="notificacao" />

        <div class="butao">
          <button pButton type="submit">Continuar</button>
        </div>
           
        <h4>  <a [routerLink]="['/login']" > Voltar para o Login</a></h4>
         
      </div>
    </div>
  </form>
</div>
